Repository escapace/cepheus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: prefers color scheme
  package.json
  packages/app/package.json
  packages/app/src/cepheus.ts
  packages/app/src/components/calendar.vue
  packages/app/src/main.ts
  packages/app/src/plugin.ts
  packages/app/tsconfig.json
  packages/cli/package.json
  packages/color/package.json
  packages/color/src/colorjs-io.d.ts
  packages/color/src/index.ts
  packages/core/package.json
  packages/core/src/create-interpolator.ts
  packages/core/src/index.ts
  packages/core/src/xor.ts
  packages/plugin/package.json
  packages/plugin/src/create-iterator.ts
  packages/plugin/src/index.ts
  packages/plugin/src/template.ts
  packages/plugin/src/types.ts
  packages/utilities/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: better plugin interface
  packages/app/src/components/calendar.vue
  packages/app/src/main.ts
  packages/plugin/src/create-iterator.ts
  packages/plugin/src/index.ts
  packages/plugin/src/permutations.ts
  packages/plugin/src/types.ts
Due: none

feat: cassiopeia 3.0
  package.json
  packages/app/package.json
  packages/app/src/main.ts
  packages/app/src/plugin.ts
  packages/cli/package.json
  packages/color/package.json
  packages/core/package.json
  packages/plugin/package.json
  packages/plugin/src/create-iterator.ts
  packages/plugin/src/index.ts
  packages/utilities/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: vue plugin
  packages/app/package.json
  packages/app/src/cepheus.ts
  packages/app/src/components/calendar.vue
  packages/app/src/main.ts
  packages/app/src/plugin.ts
  packages/plugin/src/index.ts
  packages/vue/.c8rc.json
  packages/vue/.editorconfig
  packages/vue/.eslintignore
  packages/vue/.eslintrc.json
  packages/vue/.gitignore
  packages/vue/.lintstagedrc.json
  packages/vue/.prettierignore
  packages/vue/.prettierrc.json
  packages/vue/LICENSE
  packages/vue/README.md
  packages/vue/package.json
  packages/vue/src/constants.ts
  packages/vue/src/create-cepheus.ts
  packages/vue/src/index.ts
  packages/vue/src/use-cepheus.ts
  packages/vue/tsconfig-build.json
  packages/vue/tsconfig.json
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write, eslint --fix

fix: syncpack
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: parse-alpha
  packages/plugin/src/parse-alpha.spec.ts
  packages/plugin/src/parse-alpha.ts
  packages/plugin/src/permutations.spec.ts
  packages/plugin/src/permutations.ts
Due: none

fix: update cassiopeia
  .husky/pre-commit
  .syncpackrc.json
  package.json
  packages/app/package.json
  packages/app/src/components/app.vue
  packages/app/src/components/calendar.vue
  packages/app/src/main.ts
  packages/app/vite.config.ts
  packages/cli/package.json
  packages/color/package.json
  packages/core/package.json
  packages/core/src/types.ts
  packages/plugin/package.json
  packages/plugin/src/create-iterator.ts
  packages/plugin/src/index.ts
  packages/utilities/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  scripts/constants.mjs
Due: prettier --write, eslint --fix

fix: build scripts
  .husky/pre-commit
  packages/cli/package.json
  packages/plugin/package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/constants.mjs
Due: prettier --write, eslint --fix

fix: refactor store
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/index.ts
  packages/cli/src/store.ts
  packages/cli/src/store/action-create-optimize-tasks.ts
  packages/cli/src/store/action-update-optimize-task.ts
  packages/cli/src/store/action-update-stage.ts
  packages/cli/src/store/create-optimize-task-options.ts
  packages/cli/src/store/create-square-options.ts
  packages/cli/src/store/create-store-options.ts
  packages/cli/src/store/create-store.ts
  packages/cli/src/store/selector-model.ts
  packages/cli/src/store/selector-optimize-tasks.ts
  packages/cli/src/store/selector-squares.ts
  packages/cli/src/store/selector-state.ts
  packages/cli/src/store/selector-statistics.ts
  packages/cli/src/store/wip.ts
  packages/core/package.json
  packages/core/src/create-interpolator.ts
  packages/plugin/package.json
  packages/plugin/src/env.d.ts
  packages/plugin/src/index.ts
  packages/utilities/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write, eslint --fix

feat: embed colorSpace
  packages/app/package.json
  packages/app/src/components/canvas.vue
  packages/app/src/components/home.vue
  packages/app/src/components/home2.vue
  packages/app/src/models/model.json
  packages/cli/package.json
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/store/create-store-options.ts
  packages/cli/src/store/selector-model.ts
  packages/cli/src/store/selector-optimize-tasks.ts
  packages/cli/src/types.ts
  packages/cli/src/utilities/constrain-angle.ts
  packages/cli/src/utilities/normalize-weights.ts
  packages/cli/src/utilities/percentile.spec.ts
  packages/cli/src/utilities/triangle.ts
  packages/cli/src/workers/optimize.spec.ts
  packages/cli/src/workers/optimize.ts
  packages/cli/src/workers/triangle.ts
  packages/core/src/index.ts
  packages/core/src/parse-model.ts
  packages/core/src/types.ts
  packages/utilities/src/constants.ts
  packages/utilities/src/convex-hull.spec.ts
  packages/utilities/src/convex-hull.ts
  packages/utilities/src/index.ts
  packages/utilities/src/isolate.spec.ts
  packages/utilities/src/neighbours.spec.ts
  packages/utilities/src/neighbours.ts
  packages/utilities/src/tile.spec.ts
  packages/utilities/src/tile.ts
  packages/utilities/src/to-position.spec.ts
  packages/utilities/src/types.ts
  pnpm-lock.yaml
Due: prettier --write

feat: retry logic
  packages/app/src/components/calendar.vue
  packages/app/src/models/model.json
  packages/cli/src/index.ts
  packages/cli/src/store/selector-squares.ts
  packages/cli/src/utilities/bezier.ts
  packages/cli/src/utilities/lightness-scaling-function.ts
  packages/cli/src/workers/optimize.ts
Due: prettier --write

feat: --precision option
  packages/app/src/models/model.json
  packages/cli/src/cli.ts
  packages/cli/src/store/create-store-options.ts
  packages/cli/src/store/selector-model.ts
  packages/cli/src/types.ts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.{yml,yaml})) or (any of: ./scripts/**/*.mjs)
  eslint --fix: any of: ./scripts/**/*.mjs
