Repository escapace/cepheus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["prettier --write"],
  "./scripts/**/*.mjs": ["eslint --fix", "prettier --write"]
}

feat: model adjustments
  packages/app/src/components/triangle.vue
  packages/app/src/main.ts
  packages/cepheus/src/assert.ts
  packages/cepheus/src/create-interpolator.ts
  packages/cepheus/src/index.ts
  packages/cepheus/src/is-model.ts
  packages/cepheus/src/parse-model.ts
  packages/cepheus/src/types.ts
  packages/plugin/src/create-iterator.ts
  packages/plugin/src/index.ts
  packages/plugin/src/types.ts
  packages/vue/package.json
  packages/vue/src/create-cepheus.ts
Due: prettier --write

fix: update cassiopeia
  package.json
  packages/app/package.json
  packages/app/src/components/app.vue
  packages/app/src/components/calendar.vue
  packages/app/src/components/constraint.vue
  packages/app/src/components/triangle.vue
  packages/app/src/main.ts
  packages/app/src/models/model-big.json
  packages/app/src/models/model-big2.json
  packages/app/src/models/model-old.json
  packages/app/src/models/model-pink.json
  packages/app/src/style.css
  packages/cepheus/package.json
  packages/cepheus/src/cartesian.ts
  packages/cli/package.json
  packages/cli/src/store/create-store-options.ts
  packages/cli/src/workers/optimize.ts
  packages/color/package.json
  packages/color/src/index.ts
  packages/plugin/package.json
  packages/plugin/src/create-iterator.ts
  packages/plugin/src/index.ts
  packages/utilities/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: typescript 5
  package.json
  packages/app/package.json
  packages/app/src/entry-server.ts
  packages/app/tsconfig.json
  packages/cepheus/package.json
  packages/cepheus/tsconfig.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/color/package.json
  packages/color/tsconfig.json
  packages/plugin/package.json
  packages/plugin/src/create-iterator.ts
  packages/plugin/tsconfig.json
  packages/utilities/package.json
  packages/utilities/tsconfig.json
  packages/vue/package.json
  packages/vue/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

fix: public dir
  packages/app/public/.gitkeep
  packages/app/vite.config.ts
Due: none

feat: pinia store
  packages/app/src/components/calendar.vue
  packages/app/src/components/constraint.vue
  packages/app/src/create-app.ts
  packages/app/src/hooks/use-pane.ts
  packages/app/src/models/model-two.ts
  packages/app/src/use-cepheus-store.ts
  packages/cepheus/src/alias.ts
  packages/cepheus/src/create-interpolator.ts
  packages/cepheus/src/setters.ts
  packages/cepheus/src/types.ts
  packages/vue/src/index.ts
Due: none

fix: small refactor
  .github/workflows/release.yaml
  package.json
  packages/app/package.json
  packages/app/src/components/app.vue
  packages/app/src/components/constraint.vue
  packages/app/src/create-app.ts
  packages/app/src/drafts/gaussian.ts
  packages/app/src/drafts/spline.ts
  packages/app/src/get-css-data.d.ts
  packages/app/src/hooks/use-cepheus-store.ts
  packages/app/src/hooks/use-pane.ts
  packages/cepheus/package.json
  packages/cli/package.json
  packages/plugin/package.json
  packages/utilities/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: save user preferences
  packages/app/index.html
  packages/app/package.json
  packages/app/src/components/calendar.vue
  packages/app/src/create-app.ts
  packages/app/src/entry-server.ts
  packages/app/src/hooks/use-cepheus-store.ts
  packages/app/src/types.ts
  packages/app/src/vue.d.ts
  packages/plugin/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: actions
  .github/workflows/release.yaml
Due: prettier --write

feat: updates
  .gitignore
  package.json
  packages/app/package.json
  packages/app/public/.gitkeep
  packages/app/public/assets/fonts/roboto-bold.woff2
  packages/app/public/assets/fonts/roboto-flex.woff2
  packages/app/public/assets/fonts/roboto-italic.woff2
  packages/app/public/assets/fonts/roboto-medium.woff2
  packages/app/public/assets/fonts/roboto-regular.woff2
  packages/app/scripts/build.mjs
  packages/app/src/components/app.vue
  packages/app/src/components/calendar.vue
  packages/app/src/components/text.vue
  packages/app/src/create-app.ts
  packages/app/src/entry-server.ts
  packages/app/src/web-font-loader.d.ts
  packages/app/src/web-fonts.json
  packages/app/vite.config.ts
  packages/app/web-fonts.config.ts
  packages/app/wrangler.toml
  packages/cepheus/package.json
  packages/cli/package.json
  packages/cli/palette.json
  packages/color/package.json
  packages/plugin/package.json
  packages/plugin/src/create-iterator.ts
  packages/utilities/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write, eslint --fix

fix: failed to resolve import
  packages/app/package.json
  packages/app/src/entry-server.ts
  pnpm-lock.yaml
Due: prettier --write
