Repository escapace/cepheus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: lightness, chroma, contrast range
  package.json
  pnpm-lock.yaml
  src/colorjs-io.d.ts
  src/colorjs-io.ts
  src/components/home.vue
  src/components/wip.ts
Due: prettier --write, eslint --fix

feat: lightness, chroma, contrast scores
  src/components/home.vue
  src/components/wip.ts
  src/utilities/relative-difference.spec.ts
  src/utilities/relative-difference.ts
Due: prettier --write, eslint --fix

feat: pick lowest cost colors
  src/components/home.vue
  src/components/wip.ts
Due: prettier --write, eslint --fix

fix: use iteration
  src/components/home.vue
  src/components/wip.ts
  src/utilities/is-within.spec.ts
  src/utilities/is-within.ts
  src/utilities/random-within.spec.ts
  src/utilities/random-within.ts
Due: prettier --write, eslint --fix

feat: hyperparameters
  src/components/home.vue
  src/components/wip.ts
Due: prettier --write, eslint --fix

fix: not a number
  src/components/home.vue
  src/components/wip.ts
Due: prettier --write, eslint --fix

feat: scale input values
  src/components/home.vue
  src/components/wip.ts
Due: prettier --write, eslint --fix

fix: workflows
  .github/workflows/node-version.yaml
  .github/workflows/pnpm-version.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-context.yaml
Due: prettier --write

feat: prng
  packages/color/package.json
  packages/color/src/colorjs-io.d.ts
  packages/core/package.json
  packages/core/src/cli.ts
  packages/core/src/matrix.ts
  packages/core/src/optimize.ts
  packages/core/src/utilities/cartesian-product.spec.ts
  packages/core/src/utilities/cartesian-product.ts
  packages/core/src/utilities/create-prng.ts
  packages/core/src/utilities/fix-nan.ts
  packages/core/src/utilities/hash.ts
  packages/core/src/utilities/random-within.spec.ts
  packages/core/src/utilities/random-within.ts
  packages/core/src/utilities/szudzik.spec.ts
  packages/core/src/utilities/szudzik.ts
  packages/core/src/worker.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write

feat: cli
  package.json
  packages/app/package.json
  packages/color/package.json
  packages/core/package.json
  packages/core/src/cli.ts
  packages/core/src/index.ts
  packages/core/src/matrix.ts
  packages/core/src/optimize.ts
  packages/core/src/store.ts
  packages/core/src/utilities/create-prng.ts
  packages/core/src/utilities/object-hash.spec.ts
  packages/core/src/utilities/object-hash.ts
  packages/core/src/utilities/object-sort.spec.ts
  packages/core/src/utilities/object-sort.ts
  packages/core/src/utilities/relative-difference.spec.ts
  packages/core/src/utilities/relative-difference.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

fix: constrain hue angle
  packages/core/src/cli.ts
  packages/core/src/optimize.ts
  packages/core/src/utilities/constrain-angle.ts
  packages/core/src/utilities/percentile.spec.ts
  packages/core/src/utilities/percentile.ts
  packages/core/src/utilities/random-within.spec.ts
Due: none

feat: packing
  package.json
  packages/app/package.json
  packages/color/package.json
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/cli.ts
  packages/core/src/index.ts
  packages/core/src/optimize.ts
  packages/core/src/store.ts
  packages/core/src/types.ts
  pnpm-lock.yaml
Due: prettier --write

feat: write model
  package.json
  packages/core/bla.json
  packages/core/src/cli.ts
  packages/core/src/index.ts
  packages/core/src/store.ts
  packages/core/src/types.ts
Due: prettier --write

feat: squares
  package.json
  packages/app/index.html
  packages/app/package.json
  packages/app/public/vite.svg
  packages/app/src/assets/vue.svg
  packages/app/src/components/hello-world.vue
  packages/app/src/components/home.vue
  packages/app/src/main.ts
  packages/app/src/sessions/dark-model.json
  packages/app/src/sessions/dark-session.json
  packages/app/src/sessions/light-model.json
  packages/app/src/sessions/light-session.json
  packages/app/unocss.config.ts
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/optimize.spec.ts
  packages/cli/src/optimize.ts
  packages/cli/src/store.ts
  packages/cli/src/types.ts
  packages/cli/src/utilities/divisors.ts
  packages/cli/src/utilities/percentile.spec.ts
  packages/color/package.json
  packages/utilities/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: use tinypool
  package.json
  packages/app/package.json
  packages/app/src/components/home.vue
  packages/app/tsconfig.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/optimize.ts
  packages/color/package.json
  packages/utilities/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: multiple backgrounds
  packages/cli/src/cli.ts
  packages/cli/src/optimize.spec.ts
  packages/cli/src/optimize.ts
  packages/cli/src/store.ts
  packages/cli/src/types.ts
Due: none

feat: packing
  packages/app/package.json
  packages/app/src/components/home.vue
  packages/app/src/sessions/model.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/src/optimize.ts
  packages/cli/src/store.ts
  packages/cli/src/types.ts
  packages/utilities/package.json
  packages/utilities/src/cartesian-product.spec.ts
  packages/utilities/src/constants.ts
  packages/utilities/src/index.ts
  packages/utilities/src/isolate.spec.ts
  packages/utilities/src/isolate.ts
  packages/utilities/src/neighbours.spec.ts
  packages/utilities/src/neighbours.ts
  packages/utilities/src/szudzik.spec.ts
  packages/utilities/src/szudzik.ts
  packages/utilities/src/tile.spec.ts
  packages/utilities/src/tile.ts
  packages/utilities/src/to-position.ts
  packages/utilities/src/to-square.ts
  packages/utilities/src/types.ts
  pnpm-lock.yaml
  scripts/build.mjs
Due: prettier --write

feat: lut extraction & interpolation
  package.json
  packages/app/package.json
  packages/app/src/components/canvas.vue
  packages/app/src/components/home2.vue
  packages/app/src/drafts.ts
  packages/app/src/gaussian.ts
  packages/app/src/main.ts
  packages/app/src/sessions/dark-model.json
  packages/app/src/sessions/dark-session.json
  packages/app/src/sessions/light-model.json
  packages/app/src/sessions/model-1.json
  packages/app/src/sessions/model-2.json
  packages/app/src/sessions/model-3.json
  packages/app/src/sessions/model-4.json
  packages/app/src/spline.ts
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/optimize.ts
  packages/cli/src/store.ts
  packages/cli/src/types.ts
  packages/color/package.json
  packages/utilities/package.json
  packages/utilities/src/index.ts
  packages/utilities/src/isolate.ts
  packages/utilities/src/neighbours.spec.ts
  packages/utilities/src/to-position.spec.ts
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: *.{yml,yaml})) or (any of: src/**/*.{vue,js,mjs,cjs,ts,mts,cts})
  eslint --fix: any of: src/**/*.{vue,js,mjs,cjs,ts,mts,cts}
